@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Playwrite+CO+Guides&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
}

.active{
  color: rgb(204 0 0)
}

.font-lobster{
  font-family: "Lobster", serif;
}

.foodCard:hover .price{
  display: block;
}